# GitHub OAuth App credentials
# https://github.com/settings/developers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Bitbucket OAuth Consumer credentials
# https://bitbucket.org/workspace/settings/oauth-consumers
BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=
